# DSA with python

## 1. Min, Max

In [ ]:
myArray = [10, 9, 8, 7, 3, 6, 2, 1, 5, 4, 4, 0, 200]

In [ ]:
minVal = myArray[0]
maxVal = myArray[0]

In [ ]:
for i in myArray:
  if i < minVal:
    minVal = i

for i in myArray:
  if i > maxVal:
    maxVal = i

In [ ]:
minVal, min(myArray), maxVal, max(myArray)

(0, 0, 200, 200)

### 기준이 되는 값을 하나 지정하고 미만, 초과의 수를 구해보자

In [ ]:
dividVal = 5
answer = []

In [ ]:
answer = [i for i in myArray if i < dividVal]

In [ ]:
answer

[3, 2, 1, 4, 4, 0]

In [ ]:
answer = [ i for i in myArray if i > dividVal]

In [ ]:
answer

[10, 9, 8, 7, 6, 200]

## 2. 피보나치 수를 구해보장

In [ ]:
defaultVal = 10
answer = [0, 1]

In [ ]:
for i in range(2, defaultVal):
  answer.append(answer[i-1] + answer[i-2])

In [ ]:
answer

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 나는 무한대로 가고싶고 원하는 값을 넘어가면 중단하겠다!

In [ ]:
separateVal = 100
answer = [0, 1]

In [ ]:
while True:
  nxt = answer[-1] + answer[-2]
  if nxt > separateVal:
    break
  answer.append(nxt)

In [ ]:
answer

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

#### 컴포넌트를 분리시켜 볼깡?

In [ ]:
def fibo(answer, separateVal):
  while True:
    nxt = answer[-1] + answer[-2]
    if nxt > separateVal:
      break
    answer.append(nxt)

  return answer

In [ ]:
answer = [0, 1]
separateVal = 100

In [ ]:
fibo(answer, separateVal)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

#### Recursive로는?

In [ ]:
def Fibo(answer, separateVal):
  nxt = answer[-1] + answer[-2]
  if nxt > separateVal:
    return answer
  else:
    answer.append(nxt)
    return Fibo(answer, separateVal)

In [ ]:
Fibo(answer, separateVal)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]